---
import PokemonCard from "@components/PokemonCard.astro";
import Layout from "../layouts/Layout.astro";
import type { AllPokemonResponse } from "@interfaces/pokemon-response.interface";

const title: string = "Poke list Page";
const resp = await fetch("https://pokeapi.co/api/v2/pokemon/");
const data: AllPokemonResponse = await resp.json();
console.log("data", data);
---

<Layout title={title} description={""} image={""}>
  <h1 class="text-3xl">Listado de Pokémons</h1>
  <hr />

  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    {data.results.map(({ name, url }) => <PokemonCard name={name} url={url} />)}
  </section>
</Layout>
