---
import { PokemonFavorites } from "@components/pokemons/PokemonFavorites";
import Title from "@components/shared/Title.astro";
import Layout from "@layouts/Layout.astro";

const initialCountValue: number = 15;
---

<Layout>
  <Title>Favorites</Title>
  <PokemonFavorites client:only="react"/>
</Layout>
